* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* width: 78%;
    max-width: 1600px; */
    font-family: "Fira Sans", sans-serif;
    background-color: #F5F5F5;
}

/* sheare code */
nav,
.banner,
.Pillars-card,
.vision-container,
.opinion-container,
.recent-news-container,
.donate-container,
.subscribe-container,
.footer-container {
    max-width: 1280px;
    margin: 0 auto;
}

.heading-section h2 {
    font-size: 40px;
    margin-bottom: 32px;
    color: #0E0E0E;
}

.heading-section p {
    font-size: 16px;
    line-height: 24px;
    color: #0E0E0E70;
    margin-bottom: 32px;
}

.banner,
.PillarsCard-container,
.message-container,
.opinion-container,
.recent-news-container,
.donate-container,
.subscribe-container {
    margin-bottom: 80px;
}

.btn {
    padding: 13px 26px;
    background-color: #006A50;
    color: white;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}


/* main code */

/* navigation bar design code start */
nav {
    padding: 24px 0;
    margin-bottom: 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 32px;
    color: #0E0E0E;
}

.sing-up button {
    outline: none;
    border: 2px solid #006A50;
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    background: none;
    cursor: pointer;
}

.sing-up button:hover {
    background-color: #006A50;
    border: 2px solid #006A50;
    color: white;

}

/* navigation bar design code end */



/* banner/hero-section design code start */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    background-color: #C6E4D6;
    padding: 80px 60px;
    border-radius: 24px;
}

.banner-text p {
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E50;
    margin-bottom: 24px;
}

.banner-text h4 {
    font-size: 56px;
    color: #0E0E0E;
    margin-bottom: 24px;
}

.banner-text button {
    padding: 14px 34px;
    background-color: #006A50;
    color: white;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}

/* banner/hero-section design code end */
/* Pillars Card section design code start */
.cards {
    display: flex;
    gap: 24px;
}

.card {
    background-color: #ffffff;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid #0E0E0E15;
    box-shadow: 0px 4px 4px #00000025;
}

.card img {
    width: 64px;
    margin-bottom: 24px;
}

.card h5 {
    font-size: 20px;
    color: #0E0E0E;
    margin-bottom: 12px;
    cursor: pointer;
}

.card p {
    font-size: 16px;
    line-height: 24px;
    color: #0E0E0E70;
    width: 254px;
}

/* Pillars Card section design code end */
/* Vision Card section design code start */


.vision-card {
    padding: 32px;
    border-radius: 16px;
}

.vision-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

}

.vision-card img {
    width: 64px;
    margin-bottom: 24px;
}

.vision-card h5 {
    font-size: 20px;
    color: #0E0E0E;
    margin-bottom: 12px;
}

.vision-card p {
    font-size: 16px;
    line-height: 24px;
    color: #0E0E0E70;
    width: 346px;
    margin-bottom: 24px;
}

.vision-card button {
    padding: 11px 20px;
    outline: none;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* background color and button color  start*/
#color-one {
    background-color: #D5E1F5;
}

#color-one button {
    background-color: #5490F5;
}

#color-two {
    background-color: #C6E4D6;
}

#color-two button {
    background-color: #09A15C;
}

#color-three {
    background-color: #F7EBCF;
}

#color-three button {
    background-color: #FFC239;
}

/* background color and button color  end*/

/* Vision Card section design code end */
/* aurthor section design code start */
.message-container {
    background-color: white;
    border-radius: 16px;
    background-image: url(./assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 24px 25px;
}

.message {
    padding: 48px 24px;
}

.message p {
    font-size: 16px;
    line-height: 24px;
    color: #0E0E0E80;
    margin-bottom: 12px;
}

.author h5 {
    font-size: 20px;
    font-weight: 600;
    color: #0E0E0E80;
    margin-bottom: 4px;
}

.author p {
    color: #C6E4D6;
    font-size: 16px;
    line-height: 24px;
}

/* aurthor section design code end */

/* opinion section code start */
.opinion {
    padding: 32px;
    background-color: white;
    border-radius: 16px;
}

table {
    border-collapse: collapse;

}

table thead tr,
table tbody td {
    border: 1px solid #0E0E0E15;
}

.questions {
    padding: 24px 0 24px 24px;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    background-color: #C6E4D6;
    width: 980px;
}

.select-opinion {
    font-size: 20px;
    font-weight: 600;
    background-color: #C6E4D6;
    padding: 24px;
    text-wrap: nowrap;
}


.questions-data {
    padding: 24px 0 24px 24px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    width: 980px;
}

.select-one {
    padding: 24px;
    display: flex;
    justify-content: center;
}

.one-right {
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 600;
    background-color: #C6E4D6;
    border-radius: 5px;
}

/* opinion section code end */
/* Recent News section code start */
.news {
    display: flex;
    align-items: center;
    gap: 32px;
    background-color: #ffffff;
    padding: 48px;
    border-radius: 24px;
    margin-bottom: 24px;
}

.news-image img {
    border-radius: 24px;
}

.news-text h3 {
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E80;
    margin-bottom: 12px;
}

.time-date {
    display: flex;
    align-items: center;
    color: #0E0E0E70;
    gap: 12px;
    margin: 12px 0;
}

.news-para {
    color: #0E0E0E70;
    margin-bottom: 32px;
}

.news-revarce {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 32px;
    background-color: #ffffff;
    padding: 48px;
    border-radius: 24px;
    margin-bottom: 24px;
}

/* Recent News section code end */
/* Donate section code start */
.donate-container,
.heading-section {
    text-align: center;
}

.amount {
    padding: 40px;
    background-color: white;
    margin-bottom: 32px;
    border-radius: 16px;
    border: 1px solid #0E0E0E15;
    cursor: pointer;
}

.amount h1 {
    font-size: 40px;
    color: #0E0E0E80;
}

.amount:hover {
    background-color: #C6E4D6;
}

.donate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enter-amount {
    margin-bottom: 32px;

}

.enter-amount input {
    width: 100%;
    outline: none;
    border: none;
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
    color: #0E0E0E60;
    border: 1px solid #0E0E0E15;
    border-radius: 10px;
}

.enter-amount input:focus {
    background-color: #C6E4D6;
}

/* Donate section code end */
/* Subscribe section code start */
.subscribe {
    background-color: #C6E4D6;
    padding: 80px 100px;
    border-radius: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscribe h1 {
    font-size: 40px;
    margin-bottom: 16px;
}

.subscribe p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    width: 620px;
    color: #0E0E0E80;
    margin-bottom: 24px;
}

.subscribe-input {
    margin-bottom: 16px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.subscribe-input input {
    outline: none;
    background-color: white;
    border: none;
}

.subscribe-input input[type="text"] {
    padding: 18px 40px;
    width: 600px;
    border-radius: 14px 0px 0px 14px;
    color: #0E0E0E;
}

.subscribe-input input[type="button"] {
    padding: 15px 34px;
    border-radius: 0px 14px 14px 0px;
    background-color: #006A50;
    font-size: 18px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

/* Subscribe section code end */
/* Footer section code start */
footer {
    background-color: white;
}

.footer-container {
    padding: 50px;
    text-align: center;
}

.footer-container h1 {
    font-size: 32px;
    margin-bottom: 32px;
}

.footer-container hr {
    margin: 0 13%;
    background-color: #0E0E0E10;
    margin-bottom: 32px;
}

.footer-icons {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.footer-icons img {
    height: 24px;
    width: 24px;
}

/* Footer section code end */